<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="author" content="Jared Gross">
    <meta name="description" content="A platform for educational content.">
    <meta name="keywords" content="gradiance, education, grading, content, platform">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" href="/static/icons/favicon.png">
    <title>Gradiance</title>
</head>


<header class="fixed no-padding">
    <nav class="primary left-padding right-padding">
        <button class="circle transparent" onclick="ui('#about-dialog')">
            <img class="responsive" fetchpriority="low" loading="lazy" src="/static/icons/favicon.png" alt="" width="32"
                height="32">
        </button>
        <h5 class="max small">Curriculums</h5>
        <button class="circle transparent" id="theme-toggle">
            <i id="theme-icon">dark_mode</i>
        </button>
    </nav>
</header>

<body class="light">
    <main class="responsive">
        <div class="grid">
            <article class="no-padding s12 m6 l6">
                <div class="grid no-space">
                    <div class="s1" id="math-background"></div>
                    <div class="s11">
                        <div class="padding">
                            <h5>Manitoba Mathematics Curriculum</h5>
                            <p>A comprehensive app for accessing the K-12 Manitoba Mathematics Curriculum.</p>
                            <nav>
                                <a class="link" href="/manitoba_mathematics_curriculum">
                                    <button class="transparent small-round">
                                        <i class="mdi mdi-notebook"></i>
                                        <span>View</span>
                                    </button>
                                </a>
                            </nav>
                        </div>
                    </div>
                </div>
            </article>
            <article class="no-padding s12 m6 l6">
                <div class="grid no-space">
                    <div class="s1" id="ela-background"></div>
                    <div class="s11">
                        <div class="padding">
                            <h5>Manitoba ELA Curriculum</h5>
                            <p>A comprehensive app for accessing the K-12 Manitoba ELA Curriculum.</p>
                            <nav>
                            </nav>
                        </div>
                    </div>
                </div>
            </article>
            <article class="no-padding s12 m6 l6">
                <div class="grid no-space">
                    <div class="s1" id="science-background"></div>
                    <div class="s11">
                        <div class="padding">
                            <h5>Manitoba Science Curriculum</h5>
                            <p>A comprehensive app for accessing the K-12 Science ELA Curriculum.</p>
                            <nav>
                            </nav>
                        </div>
                    </div>
                </div>
            </article>
            <article class="no-padding s12 m6 l6">
                <div class="grid no-space">
                    <div class="s1" id="social-studies-background"></div>
                    <div class="s11">
                        <div class="padding">
                            <h5>Manitoba Social Studies Curriculum</h5>
                            <p>A comprehensive app for accessing the K-12 Manitoba Social Studies Curriculum.</p>
                            <nav>
                            </nav>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </main>
</body>

<div class="overlay blur"></div>
<dialog class="left" id="about-dialog">
    <div class="row max center-align">
        <img class="icon responsive circle border" style="max-width: 150px; height: auto;" fetchpriority="low" loading="lazy" src="/static/icons/icon.png" alt="" width="128" height="128">
    </div>
    <div class="padding">
        <h5 class="small center-align">Curriculums</h5>
        <p class="center-align  medium-width">
            A comprehensive app for accessing interactive curriculums.
        <p class="center-align">Developed with <i>favorite</i> by <a class="link" href="https://thecodingjsoftware.github.io/">TheCodingJ's</a></p>
    </div>
    <article class="border" style="margin-top: auto;">
        <p class="center-align medium-width">
            For questions, comments, suggestions,
            or concerns about this service please
            email: <a class="link" href="mailto:jared@pinelandfarms.ca">jared@pinelandfarms.ca</a>.
        </p>
    </article>
    <nav class="right-align no-space">
        <button class="transparent link small-round" onclick="ui('#about-dialog')">
            <span>Close</span>
        </button>
    </nav>
</dialog>

</html>