<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="author" content="Jared Gross">
    <meta name="description" content="A platform for educational content.">
    <meta name="keywords" content="gradiance, education, grading, content, platform">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" href="/static/icons/favicon.png">
    <title>Gradiance</title>
</head>


<header class="fixed no-padding">
    <nav class="primary left-padding right-padding">
        <button class="circle transparent">
            <img class="responsive" fetchpriority="low" loading="lazy" src="/static/icons/favicon.png" alt="" width="32" height="32">
        </button>
        <h5 class="max small">Gradiance</h5>
    </nav>
</header>

<body class="light">
    <main class="responsive middle-align center-align">
        <article>
            <div class="grid">
                <h2 class="s12">Login</h2>
                <form class="s12" action="/login" method="post">
                    <div class="field label border">
                        <input type="text" name="username" data-has-listeners="true" value="{{username}}" required>
                        <label>Username</label>
                    </div>
                    {% if show_password %}
                    <div class="field label border">
                        <input type="password" name="password" data-has-listeners="true" required>
                        <label>Password</label>
                    </div>
                    {% endif %}
                    <div class="row">
                        <button class="small-round responsive" type="submit">Login</button>
                    </div>
                </form>
            </div>
        </article>
    </main>

    {% if show_incorrect_password_or_username %}
    <div id="error-snackbar" class="snackbar top error">
        Incorrect username or password
    </div>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            ui("#error-snackbar", 3000).snackbar();
        });
    </script>
    {% endif %}
</body>

</html>