<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="author" content="Jared Gross">
    <meta name="description" content="A platform for educational content.">
    <meta name="keywords" content="gradiance, education, grading, content, platform">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" href="/static/icons/favicon.png">
    <title>K-10 Manitoba Science Curriculum</title>
</head>


<header class="fixed no-padding">
    <nav class="primary left-padding right-padding">
        <a class="circle" href="/curriki.html">
            <i class="mdi mdi-arrow-left"></i>
        </a>
        <h5 class="max small">K-10 Manitoba Science Curriculum</h5>
        <button class="circle transparent" id="theme-toggle">
            <i id="theme-icon">dark_mode</i>
        </button>
    </nav>
    <div id="tabs-container">
        <div class="tabs scroll" id="tabs">
            <a class="active" data-ui="#grade_k">
                <span>Kindergarten</span>
            </a>
            <a data-ui="#grade_1">
                <span>Grade 1</span>
            </a>
            <a data-ui="#grade_2">
                <span>Grade 2</span>
            </a>
            <a data-ui="#grade_3">
                <span>Grade 3</span>
            </a>
            <a data-ui="#grade_4">
                <span>Grade 4</span>
            </a>
            <a data-ui="#grade_5">
                <span>Grade 5</span>
            </a>
            <a data-ui="#grade_6">
                <span>Grade 6</span>
            </a>
            <a data-ui="#grade_7">
                <span>Grade 7</span>
            </a>
            <a data-ui="#grade_8">
                <span>Grade 8</span>
            </a>
            <a data-ui="#grade_S1">
                <span>S1</span>
            </a>
            <a data-ui="#grade_S2">
                <span>S2</span>
            </a>
        </div>
    </div>
</header>

<body class="math-light">
    <main class="responsive">
        <div class=grid>
            <div class="s12 m12 l8">
                <div class="field label prefix border">
                    <i>search</i>
                    <input type="text" id="search">
                    <label>Search</label>
                    <span class="helper">You can search by the outcomes' ID and specific or general learning
                        outcomes.</span>
                </div>
                <br>
                <h6>Learning outcomes</h6>
                <div class="grid tiny-padding scroll small-round tiny-space" id="content">

                </div>
            </div>
            <div class="s12 m12 l4">
                <fieldset>
                    <legend>Select one or more settings</legend>
                    <nav class="vertical">
                        <label class="checkbox">
                            <input type="checkbox" id="always-open-outcome">
                            <span>Always open outcome</span>
                        </label>
                        <label class="checkbox">
                            <input type="checkbox" id="always-open-specific-learning-outcome">
                            <span>Always open specific learning outcome</span>
                        </label>
                        <label class="checkbox">
                            <input type="checkbox" id="always-open-general-learning-outcomes">
                            <span>Always open general learning outcomes</span>
                        </label>
                    </nav>
                </fieldset>
                <h6>Choose clusters</h6>
                <div class="padding" id="clusters-container"></div>
            </div>
        </div>
    </main>
</body>

</html>